@import "../../assets/scss/abstracts.scss";

.home{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    font-family: $font-script;
    letter-spacing: .025em;
    text-transform: uppercase;
    font-size: 5em;
    color: $color-player-1;
    transform: rotate(-5deg);
    margin: 0 0 25px 0;
    span{
      color: $color-player-2;
      font-size: 2em;
    }
  }
}
